<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Goodest Dogg-O</title> 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../stylesheets/style.css">
    <!-- Google Icon Fonts used by Materialize -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet">
    <!-- Materialize CSS Framework -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0/js/all.min.js"></script>
</head>

<body>

    <main id="main-1">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#"><i class="fas fa-paw"></i></a>
          
            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
              <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                  <a class="nav-link" href="/bracket/<%=user._id%>">Current Brackets <span class="sr-only">(current)</span></a>
                </li>
              </ul>
            <ul class="right">
                <li>
                <% if (user) { %>
                    <a href="/logout"><i class="material-icons left">trending_flat&nbsp;&nbsp;&nbsp;</i>Log Out</a>
                <% } else { %>
                    <a href="/auth/google"><i class="material-icons left">vpn_key&nbsp;&nbsp;&nbsp;</i>Login with Google</a>
                <% } %>
                </li>
            </ul>
            </div>
        </nav>
    </main>
    <main id='main-2'>
    <section>
        <h2><%=user.name%>, your dog photo is below</h2>  
    </section>
    </main>
  
    <main id="dog-card">
      <div class="card" style="width: 18rem;">
        
        <img id='card-image' src="<%=user.dog[0].URL%>" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><%=dogName%></h5>
          <a href="/bracket/<%=user._id%>" class="btn btn-primary">Go To Competitions!</a>
          <% if (!competingDog[0]) { %>
          <br>
          <br>
          <form action="/profile/<%=user._id%>?_method=DELETE" method="POST">
            <button style=<%="visibility: hidden;"%> class="btn btn-danger" type="submit">Delete Dog Photo</button>
          </form>
        <% } %>


          <form class="image-form2" method="POST" action="/profile/<%=user._id%>?_method=PUT">
            Change Dog's Name: <input type="text" name="name">
            <br>
            <br>
            <button class="btn btn-warning" type="submit">Update Dog Name</button>
          </form>

        </div>
      </div>
    </main>

</body>
</html>