<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Goodest Dogg-O</title> 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../stylesheets/style.css">
    <!-- Google Icon Fonts used by Materialize -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet">
    <!-- Materialize CSS Framework -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0/js/all.min.js"></script>
    
    
</head>
<body>

    <main id="main-1">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="/profile/<%=user._id%>"><i class="fas fa-paw"></i></a>
          
            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
              <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                  <a class="nav-link" href="/bracket/<%=user._id%>">Current Brackets <span class="sr-only">(current)</span></a>
                </li>
              </ul>
            <ul class="right">
                <li>
                <% if (user) { %>
                    <a href="/logout"><i class="material-icons left">trending_flat&nbsp;&nbsp;&nbsp;</i>Log Out</a>
                <% } else { %>
                    <a href="/auth/google"><i class="material-icons left">vpn_key&nbsp;&nbsp;&nbsp;</i>Login with Google</a>
                <% } %>
                </li>
            </ul>
            </div>
        </nav>
    </main>
    
<main id='main-2'>
    <table>
        <thead>
            <tr>
                <th>BRACKET ENTRY</th>
                <th>VISIT BRACKET</th> 
            </tr>
        </thead>
        <tbody>
            <% bracket.forEach(b => { %>
            <tr>
                <% if (cd === null) { %>
                    <% let count = 0; %>
                    <% cdArray.forEach(eachCd => { %>
                        <% if (eachCd === b._id) { %>
                            <% count++ %>
                        <% } %>
                    <% }); %>
                    <% if (count < 4) { %>
                        <% if (user.dog[0] !== undefined) { %>
                        <td><a href="/bracket/show/<%=b._id%>">Enter This Bracket</a></td>
                        <td><p>Needs to fill before voting can start</p></td> 
                        <% } %>
                    <% } else { %>
                        <td><p>Bracket Full Of Dogs!</p></td> 
                        <td><a href="/bracket/showB/<%=b._id%>">Go VOTE!</a></td> 
                    <% } %>
                <% } else if (cd.user.equals(user._id)) { %>
                    <% if (cd.bracket.equals(b._id)) { %>
                        <% let count = 0; %>
                        <% cdArray.forEach(eachCd => { %>
                            <% if (eachCd === b._id) { %>
                                <% count++ %>
                            <% } %>
                        <% }); %>
                        <% if (count > 3) { %>
                            <td><p>Your Dog Is Competing Here!</p></td>
                            <td><a href="/bracket/showB/<%=b._id%>">Go VOTE!</a></td>
                            <% } else { %>
                                <td><p>t > 3) { %>
                                    <td><p>Your Dog Is Competing Here!</p></td>
                                <td><p>Waiting on more dogs to vote!</p></td>
                            <% } %>
                    <% } else { %>
                        <% let count = 0; %>
                        <% cdArray.forEach(eachCd => { %>
                            <% if (eachCd === b._id) { %>
                                <% count++ %>
                            <% } %>
                        <% }); %>
                        <% if (count > 3) { %>
                            <td><p>Bracket Full Of Dogs!</p></td> 
                            <td><a href="/bracket/showB/<%=b._id%>">Go VOTE!</a></td> 
                            <% } %>
                        <% } %>
                    <% } %>
            </tr>

            <% }); %>
        </tbody>
    </table>
</main>

</body>
</html>